<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="css/reset.css" rel="stylesheet" type="text/css" />
<link href="css/layout.css" rel="stylesheet" type="text/css" />
<link href="css/menu.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="wrapper">
	<div id="top-banner">
    	<div class="section">
        	<p>Commercial | Retail | Residential | Leasing | Advertising | Consulting | Tenant Representation | Team Training | Maintenance</p>
        </div>
    </div><!-- end top-banner -->
    <div id="header" class="clearfix">
    	<div id="logoheader">
        	<div class="section">
            	<h1 id="logo"><a href="/index.php">Redstar Property</a></h1>
            </div>
        </div>
        <div id="rotator">
        	<div class="section">
            	<img src="banner.jpg" />
            </div>
        </div>
    </div><!-- end header -->
    <div id="body" class="clearfix">
        <div id="nav">
        	<ul class="menu">
            	<li class="item-101"><a href="#">Home</a></li>
            	<li class="item-102"><a href="#">Our Mission Statement</a></li>
            	<li class="item-103"><a href="#">Our Services</a></li>
            	<li class="item-104"><a href="#">Our Properties</a></li>
            	<li class="item-105"><a href="#">Our Management</a></li>
            	<li class="item-106"><a href="#">Contact Us</a></li>
            </ul>
        </div><!-- end menu -->
        <div id="content">
        	<div class="section">
            	<h2>Building Relationships</h2>
                <p>Conceived and established to provide building owners with a professional alternative to in-house property management, Red Star Property Management, Inc. is one of the premier management companies in San Antonio. We focus on enhancing the value of our managed properties by improving tenant satisfaction and reducing operational expenses.</p>

				<p>Red Star also maintains prompt, courteous and professional relations with all our tenants in the belief that content and satisfied tenants remain in place and increase occupancy rates.</p>

				<p>Red Star's in-depth knowledge of the San Antonio commercial real estate market and sterling reputation with local tenant representatives insure quick leasing of vacant spaces.</p>

				<p>In short, Red Star managed properties are profitable properties.</p>
            </div>
        </div><!-- end content -->
	</div><!-- end body -->
    <div id="footer-outer">
    </div><!-- end footer -->
</div><!-- end wrapper -->
</body>
</html>
